<nav class="fixed top-0 left-0 w-full bg-white py-2.5 shadow-sm px-3 z-50">
  <div class="container px-10 mx-auto">
    <div class="grid grid-cols-12 gap-3 items-center">
      <div class="col-span-3">
        <div class="flex items-center gap-3">
          <img class="w-8" src="https://cdn-icons-png.freepik.com/512/8441/8441235.png" alt="SDIA Shop"/>
          <h5 class="font-medium text-lg">SDIA Shop</h5>
        </div>
      </div>
      <div class="col-span-6">

      </div>
      <div class="col-span-3">
        <div class="flex font-sans items-center justify-end gap-x-2">
          <a href="#" class="relative flex font-sans items-center px-3 py-2 hover:text-blue-600 rounded-md gap-2">
            <div class="rounded-full absolute top-0 right-0 bg-red-600 text-white flex items-center justify-center w-5 h-5 text-xs">{{ cartState.total }}</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            Panier
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
